<ion-header class="black disap">
  <ion-navbar>
    <ion-item class="titleItem black">
      <ion-title>{{files[currentFile].title }}</ion-title>
      <div class="fileCount">{{currentFile + 1}} of {{files.length}}</div>
      <ion-icon name="arrow-back" item-start (click)="dismiss()" color="white"></ion-icon>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content class="black">
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let file of files">
      <div class="imgWrap" text-center (click)="hideDesc()">
        <img [src]="file.url">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="black disap">
  <ion-toolbar>
    <div class="optionsWrap">
      <div class="options" text-center>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-icon name="download" color="white"></ion-icon>
            </ion-col>
            <ion-col col-6>
              <ion-icon name="share-alt" color="white"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>