fileviewer {
    //todo: make footer and title transparent so on horizontal screen they will not overlay image
    .scroll-content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .toolbar-title {
        font-size: 17px;
    }
    .fileCount {
        font-size: 14px;
        padding: 0 12px;
    }
    .imgWrap {
        width: 100%;
        height: 100%;
        display: flex !important;
        align-items: center !important;
        img {
            margin: 0 auto;
        }
    }
    .optionsWrap {
        padding: 0 16px;
        .options {
            padding-top: 10px;
            border-top: 1px solid rgba(128, 128, 128, 0.35);
        }
    }
    .disap{
        transition: all 0.2s ease-out;
        &.closed{
            opacity: 0;
        }
    }
}