page-my-activities {
    ion-segment {
        margin-bottom: 30px;
        position: relative;
        z-index: 11;
        border-radius: 4px;
        background: #ebebeb;
        width: 60%;
        float: right;
        right: 16px;
        top: 57px;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
        height: 4.2rem;
        .segment-button{
            
        }
        
    }
    .segment-ios{
        .segment-button{
            border: none;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #488aff;
            background-color: transparent;
            height: 4.2rem;
            line-height: 4rem;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            opacity: 0.7;
            font-weight: 500;
        }
        .segment-activated{
            background-color: transparent !important;
            color: #488aff !important;
            border-color: #488aff;
            
        }
    }
    

    #excursionsSeg {
        ion-list {
            margin-bottom: 0px;
            ion-item {
                padding: 0px;
                .item-inner {
                    padding: 0px;
                    border-bottom: none;
                    .input-wrapper {
                        ion-label {
                            margin: 0px;
                            padding: 0px;
                            .postWrapper {
                                padding: 20px 0;
                                .title {
                                    padding: 10px 0px;
                                    span:not(.date) {
                                        font-size: large;
                                        font-weight: bold;
                                    }
                                    .date {
                                        font-size: small;
                                        color: rgba(0, 0, 0, 0.6);
                                        line-height: 23px;
                                        float: right;
                                        @include rtl() {
                                            float: left;
                                        }
                                    }
                                }
                                .body {
                                    padding: 5px 0 10px;
                                    .text {
                                        padding: 2px 0px;
                                        white-space: initial;
                                        p {
                                            color: black;
                                            line-height: 19px;
                                        }
                                    }
                                    .imgWrapper {
                                        
                                        padding: 2px 0px;
                                        img {
                                            width: 100%;
                                            max-height: 200px;
                                        }
                                    }
                                }
                                .footer {
                                    border-top: 1px solid rgba(128, 128, 128, 0.35);
                                    padding: 0px 0px 5px;
                                    .by {
                                        font-size: small;
                                        color: rgba(0, 0, 0, 0.7);
                                    }
                                    .author {
                                        color: rgba(0, 47, 255, 0.733)
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #eventsSeg {
        ion-list {
            margin-bottom: 0px;
           
            ion-item {
                &:last-child{
                    border: none !important;
                }
                padding: 0px;
                .item-inner {
                    padding: 0px;
                    border-bottom: none;
                    .input-wrapper {
                        ion-label {
                            margin: 0px;
                            padding: 0px;
                            .postWrapper {
                                padding: 20px 0;
                                .title {
                                    padding: 10px 0px;
                                    span:not(.date) {
                                        font-size: large;
                                        font-weight: bold;
                                    }
                                }
                                .date {
                                        font-size: small;
                                        color: rgba(0, 0, 0, 0.6);
                                        line-height: 23px;
                                        
                                        @include rtl() {
                                            float: left;
                                        }
                                    }
                                
                                .body {
                                    padding: 10px 0 10px;
                                    .text {
                                        padding: 2px 0px;
                                        white-space: initial;
                                        p {
                                            color: black;
                                            line-height: 19px;
                                        }
                                    }
                                    .imgWrapper {
                                        
                                        padding: 2px 0px;
                                        img {
                                            width: 100%;
                                            max-height: 200px;
                                        }
                                    }
                                }
                                .footer {
                                    border-top: 1px solid rgba(128, 128, 128, 0.35);
                                    padding: 0px 0px 5px;
                                    .by {
                                        font-size: small;
                                        color: rgba(0, 0, 0, 0.7);
                                    }
                                    .author {
                                        color: rgba(0, 47, 255, 0.733)
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
