<header name="Name" lastname="Lastname"></header>
<ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="excursions">
      excursions
    </ion-segment-button>
    <ion-segment-button value="events">
      events
    </ion-segment-button>
  </ion-segment>
<ion-content padding>
        <div [ngSwitch]="segment" (click)="openDesc()">
          <div *ngSwitchCase="'excursions'" id="excursionsSeg">
            <ion-list>
              <ion-item>
                    
                <div class="postWrapper">
                  <div class="title">
                    <span>Excursion 1</span>
                    <span class="date">11:35 22.09.2018</span>
                  </div>
                  <div class="body">
                    <div class="text">
                      <p>
                        Экскурсия в Иерусалим 22 сентября
                      </p>
                    </div>
                    <div class="imgWrapper">
                      <img src="./assets/imgs/jerusalem.jpg" alt="">
                    </div>
                  </div>
                  <div class="footer">
                  
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class="postWrapper">
                  <div class="title">
                    <span>Excursion 2</span>
                    <span class="date">04:35 22.03.2019</span>
                  </div>
                  <div class="body">
                    <div class="text">
                      <p>
                        Поездка в Эйлат 22 марта
                      </p>
                    </div>
                    <div class="imgWrapper">
                      <img src="./assets/imgs/eilat.jpg" alt="">
                    </div>
                  </div>
                  <div class="footer">
                  
                  </div>
                </div>
              </ion-item>

              <ion-item>
                <div class="postWrapper">
                  <div class="title">
                    <span>Excursion 3</span>
                    <span class="date">04:35 24.04.2019</span>
                  </div>
                  <div class="body">
                    <div class="text">
                      <p>
                        Поездка на Голаны 24 марта
                      </p>
                    </div>
                    <div class="imgWrapper">
                      <img src="./assets/imgs/golan.jpg" alt="">
                    </div>
                  </div>
                  <div class="footer">
                  
                  </div>
                </div>
              </ion-item>
            </ion-list>
         </div>
        </div>
        

        <div [ngSwitch]="segment">
            <div *ngSwitchCase="'events'" id="eventsSeg">
              <ion-list>
                <ion-item (click)='openLink("https://beinisrael.com/event/movie-time-in-jaffa/")'>
                  <div class="postWrapper">
                    <div class="title">
                      <span>Moovie time in Jaffa</span>
                      
                    </div>
                    <div class="date">
                        <span class="date">22.09.2018 - 01.10.2018</span>
                    </div>
                    <div class="body">
                      <div class="text">
                        <p>
                            Весь сентябрь по средам в 20:30 можно будет попасть на бесплатные кинопоказы в парке «Ган а-Писга».
                        </p>
                      </div>
                      <div class="imgWrapper">
                        <img src="./assets/imgs/kino.jpg" alt="">
                      </div>
                    </div>
                    <div class="footer">
                      
                    </div>
                  </div>
                </ion-item>
              </ion-list>
           </div>
          </div>

          <div [ngSwitch]="segment">
            <div *ngSwitchCase="'events'" id="eventsSeg">
              <ion-list>
                <ion-item (click)='openLink("https://meteorfestival.com/")'>
                  <div class="postWrapper">
                    <div class="title">
                      <span>Meteor Festival</span>
                      
                    </div>
                    <div class="date">
                        <span class="date">06.09.2018 - 08.09.2018</span>
                    </div>
                    <div class="body">
                      <div class="text">
                        <p>
                            Трехдневный музыкальный фестиваль на берегу реки Иордан.
                        </p>
                      </div>
                      <div class="imgWrapper">
                        <img src="./assets/imgs/meteor.png" alt="">
                      </div>
                    </div>
                    <div class="footer">
                      
                    </div>
                  </div>
                </ion-item>
              </ion-list>
           </div>
          </div>

          <div [ngSwitch]="segment">
            <div *ngSwitchCase="'events'" id="eventsSeg">
              <ion-list>
                <ion-item (click)='openLink("https://www.touristisrael.com/david-guetta-in-israel/11384/")'>
                  <div class="postWrapper">
                    <div class="title">
                      <span>David Guetta in Tel Aviv</span>
                      
                    </div>
                    <div class="date">
                        <span class="date">29.09.2018</span>
                    </div>
                    <div class="body">
                      <div class="text">
                        <p>
                            Mega DJ David Guetta returns to Israel in September 2018.
                        </p>
                      </div>
                      <div class="imgWrapper">
                        <img src="./assets/imgs/davidguetta.jpg" alt="">
                      </div>
                    </div>
                    <div class="footer">
                      
                    </div>
                  </div>
                </ion-item>
              </ion-list>
           </div>
          </div>
</ion-content>
