my-tabs {
    .tabs-ios {
        .tab-button-icon {
            font-size: 2.4rem;
        }
        .tab-button-text {
            font-size: 1.2rem;
            margin-bottom: 5px;
        }
    }
    .ion-ios-school:before {
        content: "\f374";
    }
    .ion-ios-school-outline:before {
        content: "\f374";
    }

    .ion-ios-people:before {
        content: "\f343";
    }
    .ion-ios-calendar-outline:before {
        content: "\f2ab";
    }
    .ion-ios-calendar:before {
        content: "\f2ab";
    }
    .ion-ios-star-outline:before {
        content: "\f384";
    }
    .ion-ios-star:before {
        content: "\f384";
    }
    .ion-ios-information-circle-outline:before {
        content: "\f311";
    }
    .ion-ios-information-circle:before {
        content: "\f311";
    }
    
}