<ion-tabs tabsPlacement="bottom">
  <ion-tab [root]="tab1Root" [rootParams]="params" tabTitle="Today" tabIcon="school"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="params" tabTitle="Timetable" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" [rootParams]="params" tabTitle="Activities" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab4Root" [rootParams]="params" tabTitle="Info" tabIcon="information-circle"></ion-tab>
  <!-- contact -->
</ion-tabs>