<ion-header>
  <ion-navbar>
    <ion-item class="titleItem">
      <ion-title>Settings</ion-title>
      <ion-icon name="arrow-back" item-start (click)="dismiss()"></ion-icon>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="formWrap">
    <div class="photoPick">
      <label for="file-input">
        <!-- <img src="./assets/imgs/avatar.jpg" alt=""> -->
        <div class="img"></div>
      </label>
      <input type="file" (change)="fileUpload($event)" id="file-input" #fileInp>
    </div>
    <div class="infoWrap">
      <div class="name">Name Lastname</div>
      <div class="group">Java&Android Development</div>
    </div>
    <form action="">
      <ion-list>
        <ion-item no-lines>
          <ion-label>Phone</ion-label>
          <ion-input type="tel" placeholder="+9175758258"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Email</ion-label>
          <ion-input type="email" placeholder="example@test.com"></ion-input>
        </ion-item>
        <div *ngIf="changePass">
          <ion-item no-lines>
            <ion-label>Old</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>New</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>Repeat</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </div>
        <ion-item no-lines text-center *ngIf="!changePass">
          <button ion-button outline (click)="showPass()">Change password</button>
        </ion-item>
        <ion-item no-lines text-center>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button disabled color="secondary" (click)="save()">Save</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button outline color="dark" (click)="cancel()">Cancel</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>