profile {
    text-align: center;
    background: white;
    
    .toolbar-title-ios {
        text-align: left;
       
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        margin-left: -20px;
    }
    
    
    .formWrap {
        padding-top: 20px;
        .photoPick {
            label {
                .img {
                    margin: 0 auto;
                    height: 100px;
                    width: 100px;
                    border-radius: 5px;
                    background-image: url('../assets/imgs/avatar.jpg');
                    background-size: cover;
                    background-position: center; // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35)
                }
            }
            input {
                opacity: 0 !important;
                height: 0;
            }
        }
        .infoWrap {
            margin-bottom: 30px;
            .name {
                margin: -5px 0 5px;
                font-size: 20px;
            }
            .group {
                font-size: 12px;
                opacity: 0.6;
            }
        }
    }
}