<div class="attach">
  <div>
    <ion-icon ios="md-albums" md="md-albums"></ion-icon>
    <!-- <ion-icon name="attach"></ion-icon> -->Attachments: </div>
  <ion-scroll scrollX="true" scrollY="false">
    <div [class]="filesLoading? 'file loading' : 'file'" *ngFor="let number of numbers" (click)="openFile(number)">
      <div class="img">
        <img *ngIf="files[number]" (load)="load($event)" [src]="files[number].url">
      </div>
      <div class="fileName">example{{number}}.png</div>
    </div>
  </ion-scroll>
</div>
