attachments {
    .attach {
        ion-icon {}
        ion-scroll {
            margin: 10px 0 0;
            height: 100px;
            white-space: nowrap;
            .scroll-content {
                .file {
                    border-radius: 10px;
                    display: inline-block;
                    background: white;
                    margin: 0 10px 0 0;
                    overflow: hidden;
                    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.225);
                    &.loading {
                        animation-name: load;
                        animation-iteration-count: infinite;
                        animation-duration: 3.5s;
                        animation-timing-function: ease-in-out;
                        img {
                            opacity: 0;
                        }
                    }
                    .img {
                        width: 90px;
                        height: 57px;
                        margin: 0 auto;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .fileName {
                        padding: 5px 0;
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes load {
    0% {
        background: white;
    }
    50% {
        background: #e8e8e8;
    }
    100% {
        background: white;
    }
}