page-today {
    ion-content {
        ion-refresher {
            top: 16px;
        }
        .scroll-content {
            border: none !important;
            #mainBlock {
                .date {
                    padding: 30px 0 20px;
                }
                .activityRow {
                    margin-bottom: 20px;
                    padding: 0px;
                    .item-inner {
                        border-bottom: none !important;
                        .input-wrapper {
                            ion-label {
                                margin: 10px 0 0;
                                .actInfo {
                                    min-height: 60px;
                                    .title {
                                        font-weight: bold;
                                        font-size: 1.6rem;
                                    }
                                    .desc {
                                        font-size: 1.2rem;
                                        color: grey;
                                        white-space: normal;
                                    }
                                }
                            }
                        }
                    }
                    .actIcon:not(.fake) {
                        font-size: 1.5rem;
                        margin: 0px;
                        bottom: 5px;
                        position: relative;
                    }
                }
            }
        }
    }
}