<header name="Name" lastname="Lastname"></header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div id="mainBlock">
        <div class="date" text-center>{{currentDate | date:'dd.MM.yyyy ':'+0300'}}</div>
        <spinner *ngIf="dataLoading"></spinner>
        <ion-list *ngIf="!dataLoading">
            <ion-item *ngFor="let act of activities; index as i" (click)="openDesc(act)" class="activityRow">
                <time-layout item-start [activity]="act" [style.background]="colors.getColor(act.type)" ></time-layout>
                <div class="actInfo">
                    <div class="title">{{act.title}}</div>
                    <div class="desc">{{act.description}}</div>
                </div>
                <ion-icon class="actIcon" [name]="getIconName(act.type)" item-end></ion-icon>
            </ion-item>
        </ion-list>
    </div>
</ion-content>