<header name="Name" lastname="Lastname"></header>
<ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="news">
    news
  </ion-segment-button>
  <ion-segment-button value="contacts">
    contacts
  </ion-segment-button>
  <ion-segment-button value="group">
    group
  </ion-segment-button>
</ion-segment>
<ion-content padding>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'news'" id="newsSeg">
      <ion-list>
        <ion-item>
          <div class="postWrapper">
            <div class="title">
              <span>Post title</span>
              <span class="date">11:35 26.06.2018</span>
            </div>
            <div class="body">
              <div class="text">
                <p>
                  Ужин будет в 19:00 :)
                </p>
              </div>
              <div class="imgWrapper">
                <img src="./assets/imgs/eda.jpg" alt="">
              </div>
            </div>
            <div class="footer">
              <span class="by">by</span>
              <span class="author"> Madrih Lastname </span>
            </div>
          </div>
        </ion-item>
        <ion-item *ngFor="let i of [0,1,2,3,4]">
          <div class="postWrapper">
            <div class="title">
              <span>Post title</span>
              <span class="date">11:35 26.06.2018</span>
            </div>
            <div class="body">
              <div class="text">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but also the leap into electronic.
                </p>
              </div>
              <div class="imgWrapper">
                <img src="http://wallfuse.com/web/wallpapers/302/3750x1200.jpg" alt="">
              </div>
            </div>
            <div class="footer">
              <span class="by">by</span>
              <span class="author"> Madrih Lastname </span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'contacts'" id="contactsSeg">
      <ion-list>
        <div class="listDivider"></div>
        <ion-list-header>
          STAFF
        </ion-list-header>
        <ion-item (tap)="doCall(+972587135656)">
          <ion-avatar item-start>
            <img src="./assets/imgs/noavatarfemale.png">
          </ion-avatar>
          <h2>Adar Choref
            <small>Madrih</small>
          </h2>
          <p>Design, Motion Design</p>
          <ion-icon ios="md-call" md="md-call" item-end ></ion-icon>
        </ion-item>
        <ion-item (tap)="doCall(+972587135656)">
          <ion-avatar item-start>
            <img src="./assets/imgs/noavatarfemale.png">
          </ion-avatar>
          <h2>Kate Glikman
            <small>Madrih</small>
          </h2>
          <p>Java</p>
          <ion-icon ios="md-call" md="md-call" item-end ></ion-icon>
        </ion-item>
        <ion-item (tap)="doCall(+972587135656)">
          <ion-avatar item-start>
            <img src="./assets/imgs/noavatarmale.png">
          </ion-avatar>
          <h2>Michail Vainstein
            <small>Principal</small>
          </h2>
          <p>Educational programs in Ayanot</p>
          <ion-icon ios="md-call" md="md-call" item-end ></ion-icon>
        </ion-item>

        <div class="listDivider"></div>
        <ion-list-header>
          <!-- Organizations -->SERVICES
        </ion-list-header>
        <ion-item (tap)="openMaps('Menachem Begin Blvd 1')">
          <ion-avatar item-start>
            <img class="service" src="./assets/imgs/israel-post.svg">
          </ion-avatar>
          <h2>Israel post
            <small>Post office</small>
          </h2>
          <p>Menachem Begin Blvd 1</p>
          <img class="icon" src="./assets/imgs/place.svg" item-end >
        </ion-item>
        <ion-item (tap)="openMaps('Shevet Levi St 16, Ashdod')">
          <ion-avatar item-start>
            <img class="service" src="./assets/imgs/shufersal.jpg">
          </ion-avatar>
          <h2>Shufersal
            <small>Supermarket</small>
          </h2>
          <p>Shevet Levi St 16, Ashdod</p>
          <img class="icon" src="./assets/imgs/place.svg" item-end >
        </ion-item>
        <ion-item (tap)="openMaps('Pinsker St 69, Tel Aviv-Yafo')">
          <ion-avatar item-start>
            <img class="service" src="./assets/imgs/superfarm.png">
          </ion-avatar>
          <h2>Super Farm
            <small>Pharmacy</small>
          </h2>
          <p>Pinsker St 69, Tel Aviv-Yafo</p>
          <img class="icon" src="./assets/imgs/place.svg" item-end >
        </ion-item>


        <div class="listDivider"></div>
        <ion-list-header>
          <!-- Organizations -->EMERGENCY
        </ion-list-header>
        <ion-grid class="emergency">
          <ion-row>
            <ion-col col-4>
              <ion-item (tap)="doCall(+972587135656, true)">
                <ion-avatar >
                  <img class="service" src="./assets/imgs/police.jpg">
                </ion-avatar>
                <h3>Police
                </h3>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item (tap)="doCall(+972587135656, true)">
                <ion-avatar >
                  <img class="service" src="./assets/imgs/ambulance.gif">
                </ion-avatar>
                <h3>Ambulance
                </h3>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item (tap)="doCall(+972587135656, true)">
                <ion-avatar >
                  <img class="service" src="./assets/imgs/fire.jpg">
                </ion-avatar>
                <h3>Fire
                </h3>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>
    </div>

    <div *ngSwitchCase="'group'" id="groupSeg">
      <ion-list>
        <ion-item *ngFor="let p of group.pupils" (tap)="presentActionSheet(p)">
          <ion-avatar item-start>
            <img src="./assets/imgs/noavatarfemale.png">
          </ion-avatar>
          <h2>{{p.name}} {{p.lastName}}</h2>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>