page-info {
    ion-segment {
        margin-bottom: 30px;
        position: relative;
        z-index: 11;
        border-radius: 4px;
        background: #ebebeb;
        width: 70%;
        float: right;
        right: 16px;
        top: 57px;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    }
    .segment-ios{
        .segment-button{
            border: none;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #488aff;
            background-color: transparent;
            height: 4.2rem;
            line-height: 4rem;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            opacity: 0.7;
            font-weight: 500;
        }
        .segment-activated{
            background-color: transparent !important;
            color: #488aff !important;
            border-color: #488aff;
            
        }
    }
    ion-content {
        // padding: 56px 16px;
       
        /*******CONTACTS*******/
        #contactsSeg {
            ion-list {
                margin-bottom: 80px;
                .listDivider {
                    position: absolute;
                    width: 100%;
                    right: 0;
                    left: 0;
                    background: #ebebeb;
                    height: 70px;
                    &:first-of-type {
                        height: 60px;
                    }
                }
                .sectionDivider {
                    height: 1px;
                    background: rgb(222, 222, 222);
                    width: 100%;
                }
                ion-list-header {
                    margin-bottom: 0px;
                    padding: 0px;
                    background: transparent;
                    border-top: none;
                    margin-top: 10px;
                    &:first-of-type {
                        margin-top: 0px;
                    }
                    ion-label {
                        position: relative;
                        top: 7px;
                    }
                }
                ion-item {
                    @include padding(0,
                    0,
                    0,
                    8px);
                    box-shadow: 0 -1px 6px 5px rgba(0, 0, 0, 0.03);
                    .item-inner {
                        border-bottom: none !important;
                        ion-label {
                            position: relative;
                            top: 4px;
                        }
                    }
                    ion-icon {
                        margin: 0px;
                        position: relative;
                        bottom: 4px;
                        font-size: 2.0rem;
                        color: #488aff;
                    }
                    img {
                        &.icon {
                            width: 20px;
                            height: 20px;
                            margin: 0px;
                        }
                        &.service {
                            border-radius: 5px;
                        }
                    }
                }
                ion-grid.emergency {
                    padding: 0px;
                    ion-row {
                        padding: 0px;
                        ion-col {
                            padding: 0px 5px;
                            &:first-of-type {
                                @include padding(null,
                                null,
                                null,
                                0);
                            }
                            &:last-of-type {
                                @include padding(null,
                                0,
                                null,
                                null);
                            }
                            ion-item {
                                text-align: center;
                                padding: 5px;
                                border: 1px groove red;
                                .item-inner {
                                    padding: 0px;
                                    .input-wrapper {
                                        padding: 0px;
                                        ion-label {
                                            margin: 0px;
                                            h3 {
                                                font-weight: 500;
                                            }
                                            ion-avatar {
                                                img {
                                                    margin: 0 auto;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /*******NEWS*******/
        #newsSeg {
            ion-list {
                margin-bottom: 0px;
                ion-item {
                    padding: 0px;
                    .item-inner {
                        padding: 0px;
                        border-bottom: none;
                        .input-wrapper {
                            ion-label {
                                margin: 0px;
                                padding: 0px;
                                .postWrapper {
                                    padding: 20px 0;
                                    .title {
                                        padding: 10px 0px;
                                        span:not(.date) {
                                            font-size: large;
                                            font-weight: bold;
                                        }
                                        .date {
                                            font-size: small;
                                            color: rgba(0, 0, 0, 0.6);
                                            line-height: 23px;
                                            float: right;
                                            @include rtl() {
                                                float: left;
                                            }
                                        }
                                    }
                                    .body {
                                        padding: 5px 0 10px;
                                        .text {
                                            padding: 2px 0px;
                                            white-space: initial;
                                            p {
                                                color: black;
                                                line-height: 19px;
                                            }
                                        }
                                        .imgWrapper {
                                            padding: 2px 0px;
                                            img {
                                                max-height: 90px;
                                                border-radius: 2px;
                                            }
                                        }
                                    }
                                    .footer {
                                        border-top: 1px solid rgba(128, 128, 128, 0.35);
                                        padding: 15px 0px 5px;
                                        .by {
                                            font-size: small;
                                            color: rgba(0, 0, 0, 0.7);
                                        }
                                        .author {
                                            color: rgba(0, 47, 255, 0.733)
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


         /*******Group*******/
        #groupSeg {
            ion-list {
                margin-top: 20px;
                margin-bottom: 60px;
                ion-item {
                    padding: 10px 0 0 0;
                    &:first-of-type{
                        border-top: none;
                    }
                }
            }
        }
    }
}