// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/***********HEADER**********/

ion-header {
    &.black {
        ion-navbar {
            .toolbar-background {
                background: #000;
            }
        }
    }
    ion-item.titleItem {
        background: transparent;
        &.black {
            background: #000;
            color: white;
            ion-title {
                .toolbar-title {
                    color: white;
                }
            }
        }
        .item-inner {
            margin: 0 !important;
            border-bottom: none !important;
        }
    }
}

/***********CONTENT**********/

ion-content {
    &.black {
        background-color: #000;
        color: white;
    }
}

/***********FOOTER**********/

ion-footer {
    &.black {
        ion-toolbar {
            .toolbar-background {
                background: #000;
            }
        }
    }
}

ion-tabs {
    .tabbar {
        background: linear-gradient(to bottom right, skyblue 30%, white 110%) !important;
    }
    .tab-button[aria-selected=true] {
        .tab-button-icon,
        .tab-button-text {
            color: black !important;
        }
    }
}

.masaActionSheet {
    .action-sheet-title {
        text-align: center;
        font-size: 20px;
    }
}

.toolbar-title-ios {
    text-align: left;
        
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        margin-left: -20px;
        
}
