header {
    ion-header {
        ion-toolbar:not(.fake) {
            padding: 10px;
            
            .toolbar-background{
                background: linear-gradient(to bottom left, white 5%, skyblue 100%) !important;
            }
            .avatar {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                background-image: url('../assets/imgs/avatar.jpg');
                background-size: cover;
                background-position: center;
            }
            ion-title {
                display: inline-block;
                line-height: 43px;
                .toolbar-title {
                    font-size: 1.8rem;                    
                }
                .toolbar-title-ios {
                    color: #424242;
                    font-weight: 500;
                    font-size: 1.8rem;
                    margin-top: 15px;
                    overflow: hidden;
                    margin-left: -15px;
                }
            }
        }
    }
}

header~ion-content {
    margin-top: 58px !important;
}