<ion-header>
  <ion-navbar>
    <ion-item class="titleItem">
      <ion-title>{{activity.title}}</ion-title>
      <ion-icon name="arrow-back" item-start (click)="dismiss()"></ion-icon>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="mainPhoto" *ngIf="activity && activity.type == 2">
    <img src="./assets/imgs/eilat.jpg" alt="">
  </div>
  <div *ngIf="activity && activity.type == 1">
    <!-- <ion-item class="topInfo">
    <div item-start class="lessonNumber">
      Lesson:
      <span>{{activity.number}}</span>
    </div>
    <div item-end class="teacher">
      {{activity.teacher}}
    </div>
  </ion-item> -->
    <ion-item class="time">
      <time-layout item-start [activity]="activity" [style.background]="colors.getColor(activity.type)"></time-layout>
      <!--  <ion-icon name="time"></ion-icon>
    <dateview [time]="activity.timeStart"></dateview> -
    <dateview [time]="activity.timeEnd"></dateview> -->
      <ion-label>
        <div item-end class="teacher">
          {{activity.teacher}}
        </div>
      </ion-label>
    </ion-item>
  </div>
  <div class="mainInfo">
    <p class="topic">{{activity.topic}}</p>
    <description *ngIf="activity.description" [description]="activity.description"></description>
    <homework *ngIf="activity.type == 1" [homeTask]="activity.homeTask"></homework>
    <div class="links">
        <ion-icon ios="md-link" md="md-link"></ion-icon> Links:
      <br/>
      <a class="link" *ngFor="let link of activity.links" (click)="openLink(link)">
        {{link}}
        <br/>
      </a>
    </div>
    <attachments [filesLoading]="filesLoading" [files]="files" [numbers]="numbers"></attachments>

  </div>



</ion-content>