activity-desc {
    ion-content {
        .mainPhoto {
            text-align: center;
            img {
                max-height: 200px;
                width: 100%;
            }
        }
        ion-item.topInfo {
            font-size: 1.2rem;
            margin-top: 5px;
            .item-inner {
                border-bottom: none !important;
                .teacher {
                    color: rgb(71, 71, 71);
                }
            }
            .lessonNumber {
                span {
                    font-size: 1.3rem;
                }
            }
        }
        ion-item.time {
            margin-top: 20px;
            height: 60px;
            text-align: start;
            time-layout {}
            .item-inner {
                border: none !important;
            }
        }
        .mainInfo {
            padding: 0 16px;
            .topic {
                font-size: 17px;
            }
            .links {
                padding: 10px 0 20px;
                ion-icon {}
                .link {
                    font-size: 14px;
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
    }
}