<!-- Generated template for the DateviewComponent component -->
<span class="dateViewTime">
  <span class="dateViewHours">{{hours}}</span>
  <sup class="dateViewMinutes">{{minutes | minutes}}</sup>
</span>