page-timetable {
    .currentMonthTitle {
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        padding: 30px 0 5px;
        font-weight: bold;
    }
    table,
    th,
    td,
    tr {
        border-collapse: collapse;
    }
    calendar {
        .table[_ngcontent-c1] {
            border: none;
            tbody[_ngcontent-c1],
            thead[_ngcontent-c1] {
                tr[_ngcontent-c1] {
                    th[_ngcontent-c1] {
                        padding: 0px 5px;
                        vertical-align: middle;
                        text-align: right;
                        height: 33px;
                        border: none;
                        font-weight: 100;
                    }
                    td[_ngcontent-c1] {
                        padding: 3px;
                        vertical-align: top;
                        height: 37px;
                        line-height: unset;
                        text-align: right;
                        font-size: 11px;
                        border: none;
                        &.monthview-current:not(.fake) {
                            border: 1px solid crimson !important;
                            color: crimson;
                            border-style: inset;
                        }
                        &.monthview-primary-with-event {
                            color: black;
                            background: unset;
                        }
                    }
                }
            }
        }
        .event-detail-container {
            display: none;
        }
    }
    .activities {
        position: relative;
        bottom: 235px;
        
        ion-item:first-of-type {
            border-top: none !important;
        }
        ion-item:last-of-type {
            border-bottom: none !important;
        }
        
    }
}