<header name="Name" lastname="Lastname"></header>

<ion-content>
    <div class="currentMonthTitle">{{ viewTitle }}</div>
    <calendar [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate" 
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    class="calendar">
    </calendar>
    <ion-list class="activities">
        <div text-center *ngIf="!activitiesToShow || activitiesToShow.length == 0"> No events</div>
        <ion-item *ngFor="let act of activitiesToShow; let i = index">
           {{i + 1}}.  {{act.title}}
        </ion-item>
        <ion-item></ion-item>
    </ion-list>
</ion-content>